<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Dashboard</h1>
  
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Label</h4>
      <span class="text-muted">Something else</span>
    </div>
  </div>
  
  <h2 class="sub-header">Section title</h2>
  <div class="table-responsive" ng-controller="rListCtrl">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>name</th>
          <th>adress</th>
          <th>location</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="restaurant in list">
          <td>{{restaurant.id}}</td>
	  <td>{{restaurant.name}}</td>
	  <td>{{restaurant.address}}</td>
	  <td>{{restaurant.location}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!--<div class="container" ng-controller="signinCtrl">
    
    <form class="form-signin" role="form" ng-repeat="lang in langs">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="email" class="form-control" placeholder="{{lang.email}}" required autofocus>
      <input type="password" class="form-control" placeholder="{{lang.password}}" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="API.authenticate()">Sign in</button>
    </form>
    
</div> <!-- /container -->
