<div class="container" ng-controller="signinCtrl">
  
  <form class="form-signin" role="form" ng-repeat="lang in langs">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="email" class="form-control" placeholder="{{lang.email}}" required autofocus>
    <input type="password" class="form-control" placeholder="{{lang.password}}" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="API.authenticate()">Sign in</button>
  </form>
  
</div> <!-- /container -->
