<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaya.elevenMeal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>

    <!-- Activity -->
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.vaya.elevenMeal.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vaya.elevenMeal.NfcTag"
            android:parentActivityName="com.vaya.elevenMeal.MyActivity" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="com.vaya.elevenMeal.RestaurantListActivity"
            android:label="@string/title_restaurant_list" >
        </activity>
        <activity
            android:name="com.vaya.elevenMeal.RestaurantDetailActivity"
            android:label="@string/title_restaurant_detail"
            android:parentActivityName="com.vaya.elevenMeal.RestaurantListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaya.elevenMeal.RestaurantListActivity" />
        </activity>

        <receiver
            android:name="com.vaya.elevenMeal.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="com.vaya.elevenMeal.GcmIntentService" />

        <activity
            android:name="com.vaya.elevenMeal.ReservationListActivity"
            android:label="@string/title_reservation_list" >
        </activity>
        <activity
            android:name="com.vaya.elevenMeal.ReservationDetailActivity"
            android:label="@string/title_reservation_detail"
            android:parentActivityName="com.vaya.elevenMeal.ReservationListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vaya.elevenMeal.ReservationListActivity" />
        </activity>
        <activity
            android:name="com.vaya.elevenMeal.UserSettingsActivity"
            android:parentActivityName="com.vaya.elevenMeal.LoginActivity" />
        <activity
            android:name="com.vaya.elevenMeal.ReservationActivity"
            android:label="@string/title_activity_reservation" >
        </activity>
    </application>

</manifest>
